body{
    padding: 100px;
}
.loginCard{
  
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}
#transaction-area{
    display: none;
}
.card{
    margin: 0 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}